* {
	box-sizing: border-box;
}

body{

	background:pink;
	
}


.main{	
	width: 90%;
	height: 500px;
	margin: 100px auto;	
	overflow: auto;
	z-index: -1;
}


.circle-outline{
	transition: width 1s ease, 
				height 1s ease, 
				-moz-border-radius 1s ease
				-webkit-border-radius 1s ease
				border-radius 1s ease;
	width: 100px;
	height: 100px;
	border: 3px dotted #0000ff;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin: 15px;
}

.circle-outline:hover{
	width: 200px;
	height: 200px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	float: left;
	margin: 15px;
}


